<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Open main menu" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/climbs" mat-menu-item>All climbs</button>
    <button routerLink="/my-climbs" mat-menu-item>My Climbs</button>
    <button routerLink="/my-projects" mat-menu-item>My Projects</button>
  </mat-menu>
  <span>Gripster</span>
  <span class="spacer"></span>
<button *ngIf="!(auth.isLoggedIn$ | async)" routerLink="/login" mat-button>Login</button>
<button *ngIf="(auth.isLoggedIn$ | async)" (click)="logout()" mat-button>Logout</button>
</mat-toolbar>
<router-outlet />