<div class="app-container">

  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Open main menu" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    
    <img src="assets/images/gripster.jpg" style="height:40px; margin-right:10px;">

    <mat-menu #menu="matMenu">
      <button routerLink="/climbs/{{ climb.getGymID() }}" mat-menu-item>Climbs</button>
      <button routerLink="/session-view" mat-menu-item>Sessions</button>
      <button routerLink="/my-climbs" mat-menu-item>My Climbs</button>
      <button routerLink="/my-projects" mat-menu-item>My Projects</button>
      <button routerLink="/select-gym" mat-menu-item>Change Gym</button>
    </mat-menu>

    <span class="toolbar-title">Gripster</span>
    <span class="current-gym-inline" *ngIf="currentGymName as gym">
      <mat-icon>location_on</mat-icon>
      {{ gym }}
    </span>

    <span class="spacer" style="flex: 1 1 auto;"></span>

    <button mat-raised-button color="primary" routerLink="/climbs/{{ climb.getGymID() }}">
      Home
    </button>

    <span class="spacer" style="flex: 0 0 5px;"></span>

    <button *ngIf="auth.isAdmin()" mat-raised-button color="accent" routerLink="/climb-add">
      Add Climb
    </button>

    <span class="spacer" style="flex: 0 0 5px;"></span>

    <button *ngIf="(auth.isLoggedIn$ | async)" (click)="logout()" mat-raised-button color="white">Logout</button>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer
    style="text-align:center; padding:1rem; font-size:0.85rem; color:rgb(255, 255, 255); background-color:rgb(112, 112, 212);">
    <a routerLink="/terms" style="margin:0 0.5rem;">Terms</a> |
    <a routerLink="/privacy" style="margin:0 0.5rem;">Privacy</a> |
    <a routerLink="/eu-legal" style="margin:0 0.5rem;">EU Legal</a> |
    <a routerLink="/security" style="margin:0 0.5rem;">Security Measures</a> |
    <a routerLink="/sitemap" style="margin:0 0.5rem;">Sitemap</a>
    <p>© 2025 Gripster, Inc.</p>
  </footer>
</div>